.navheader {
    color: #666;
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  .navBar {
    transition: none;
      border-radius: 0;
      box-shadow: none;
      background: none;
      border: 0;
      bottom: auto;
      box-sizing: border-box;
      clip: auto;
      color: #4d4d4d;
      display: flex;
      align-items: center;
      float: none;
      font-size: 14px;
      height: auto;
      left: auto;
      line-height: 1.7;
      list-style-type: none;
      margin: 0;
      min-height: auto;
      max-height: none;
      min-width: auto;
      max-width: none;
      opacity: 1;
      outline: none;
      overflow: visible;
      padding: 0;
      position: relative;
      pointer-events: auto;
      right: auto;
      text-align: left;
      text-decoration: none;
      text-indent: 0;
      text-transform: none;
      transform: none;
      top: auto;
      visibility: inherit;
      width: auto;
      word-wrap: break-word;
      white-space: normal;
  }
  .requestDemo {
    background: #0064bf !important;
      color: #fff !important;
      border-radius: 30px;    
      padding:11px 17px;
  }
  .bannermainsection {
    position: relative;
  }
  .banner_text {
    position: absolute;
    top: 17%;
    /* left:10%; */
    /* padding: 0 6rem; */
    padding: 0rem 5rem;
  }
  .bannerHeadText {
    font-size: 56px;
    line-height: 64px;
    font-family: "Avenir Next LT W01 Demi";
    font-weight: bold ;
    color: #1c1c1d;
    overflow-wrap: break-word;
    width: 537px;
    height: 111px;
    position: relative;
    margin-top: 39px;
  }
  .bannerSubText {
    font-size: 25px;
    line-height: 44px;
    font-family: "AvenirNextLTW01-Medium";
    font-weight: 500;
    color: #000000;
    width: 373px;
    height: 176px;
    position: relative;
  }
  .breadcrumbs {
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    /* padding: 31px 6rem; */
    padding: 0rem 5rem;
  }
  .dataimgmain {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    /* margin-top:87px; */
    /* padding-left:5rem; */
    padding: 5rem 5rem 0rem 5rem;
  }
  .textsection {
    width: 50%;
    /* padding-left: 8rem; */
    font-size: 24px;
    /* line-height:450; */
    text-transform: lowercase;
  }
  .textparagrapgh {
    margin-top: 2rem;
    width: 39vw;
    line-height: 2;
    color: #666;
  }
  .dataheading {
    color: #0075c9;
    font-size: 48px;
    line-height: 64px;
  }
  .imgsection {
    padding-right: 4rem;
  }
  .datatextsection1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .subdata {
    padding-top: 2rem;
  }
  .iconSection {
    color: #0075c9;
    padding-right: 1rem;
  }
  .textIcon {
    display: flex;
    /* padding:20px 0px; */
    color: #666;
    font-family: "AvenirNextLTW01-Medium", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 450;
    padding-left: 10px;
  }
  .mainContainer {
    padding: 10rem 9rem !important;
  }
  .blokSubText {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }
  .blockSubHead {
    color: #fff100;
    font-size: 24px;
    font-weight: 600;
    /* padding-left: 18px; */
  }
  .blockSubHeadPara {
    font-size: 16px;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 12px 0;
  }
  .blackBlockHeading {
    color: yellow;
    font-weight: 800;
    /*  width: 104%; */
    margin: auto;
    margin-bottom: 10px;
    font-size: 17px;
    padding-left: 64px;
  }
  .icon1 {
    width: 15px;
      height: 67px;
      border-radius: 30px;
      background: yellow;
      text-align: center;
      margin: auto;
      margin-bottom: 10%;
  }
  .iconSection2 {
    margin-top:-35px;
  }
  .teamSection {
    background: #0064bf;
    width:100vw;
  }
  .teamText {
    width:31%;
    position:absolute;
    top:20%
  }
  .teamHeadText {
    font-size:35px;
    font-weight: 800;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
    width: 35vw;
  }
  .teamSubText {
    font-size: 18px;
    line-height: 1.4;
    color: white;
  }
  .teamButton {
    border: none;
    font-size: 14px;
    text-align: center;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 30px;
    
  }